<div class="hhEditor">
	<div class="tabs">
		<div id="sortable-container" class="rowTabs" as-sortable="sortableOptions" ng-model="tabs">
			<div ng-repeat="(key, item) in tabs" ng-click="clicked($event, key)" ng-class="{tabActive: tabStatus.focus == key}" as-sortable-item class="tab">
				<div ng-show="editing != key" as-sortable-item-handle class="tabTitle">{{item.title | titleDefault}}{{item.syntax.ext}}</div>
				<input show-focus="editing == key" ng-show="editing == key" ng-blur="hide(key)" ng-enter="hide(key)" ng-model="tabsData[item['$id']].title" class="tabTitleRename" />
				<strong ng-hide="settings.readOnly" ng-click="close($event, key)" class="tabClose">x</strong>
			</div>
			<div ng-hide="settings.readOnly" class="tab addNew" ng-click="add()">+</div>
		</div>
	</div>
	<div class="tabsContents">
		<div ng-repeat="(key, item) in tabs" class="tabContent" ng-class="{active: tabStatus.focus == key}">
			<div class="editor">
				<div hh-firepad tabeditor="item" settings="settings" class="aceEditor"></div>
			</div>
			<div class="editorStatus">
				<div class="editorStatusContent"><a href="" class="download" ng-click="downloadAll()">&#8582;</a>
					<div class="cursor">Line {{item.row || "1"}}, Column {{item.column || "1"}} </div>
					<div class="syntax">Syntax: <select ng-model="item.syntax" ng-change="syntax(key)" ng-options="mode.name for mode in modes track by mode.name"></select></div>
				</div>
			</div>
		</div>
	</div>
</div>